@model DBSD.CW2._8392._7417._8402.Models.Patient

@{
    ViewData["Title"] = "Details";
}
<div class="patient-card">
    <div class="row">
        <div class="col-lg-4">
            @if (Model.Photo != null)
            {
                <img src="@Url.Action("ShowImage", new { Model.Id })" class="img-fluid w-100" />
            }
            else
            {
                <img src="~/images/default.png" class="img-fluid w-100" />
            }
        <div class="d-flex flex-column mt-3 patient-card-actions">
            <a asp-controller="Patient" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mb-2 rounded-0">Edit <i class="pl-2 fa fa-edit"></i></a>

            <a asp-controller="Patient" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mb-2 rounded-0">Delete<i class="pl-2 fa fa-trash-alt"></i></a>
            <a asp-action="Filter" class="btn our-btn">Back to List</a>
        </div>
        </div>
        <div class="col-lg-8">
            <h1>Patient №@Html.DisplayFor(model => model.Id)</h1>
            <h2>@Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName)</h2>
            <h4>Personal Info</h4>
            <table class="table table-bordered  bg-white">
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.DoB)</th>
                    <td>@Html.DisplayFor(model => model.DoB)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Occupation)</th>
                    <td>@Html.DisplayFor(model => model.Occupation)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Gender)</th>
                    <td>@Html.DisplayFor(model => model.Gender)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Phone)</th>
                    <td>@Html.DisplayFor(model => model.Phone)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Address)</th>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                </tr>


            </table>
            <h4>Patient Details</h4>
            <table class="table table-bordered bg-white">

                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.DiagnoseName)</th>
                    <td>@Html.DisplayFor(model => model.DiagnoseName)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.DoctorName)</th>
                    <td>@Html.DisplayFor(model => model.DoctorName)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.DepartmentName)</th>
                    <td>@Html.DisplayFor(model => model.DepartmentName)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.WardNo)</th>
                    <td>@Html.DisplayFor(model => model.WardNo)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.NurseName)</th>
                    <td>@Html.DisplayFor(model => model.NurseName)</td>
                </tr>

                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.EmergencyHospitalization)</th>
                    <td>@(Model.EmergencyHospitalization?"Yes":"No")</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.IsDischarged)</th>
                    <td>@(Model.IsDischarged?"Discharged":"Not discharged")</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.RegisteredDate)</th>
                    <td>@Html.DisplayFor(model => model.RegisteredDate)</td>
                </tr>
            </table>
        </div>
    </div>
   
</div>